* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    background-color: #1f5121;
    font-family: Arial, sans-serif;
}
h1 {    
    margin-bottom: 20px;    
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.buttons {
    display: flex;
    gap: 50px;
}